source : https://www.youtube.com/watch?v=3l9YOS4y24Y&list=PLeo1K3hjS3uvMADnFjV1yg6E5nVU4kOob&index=5

In [1]:
import pandas as pd

y = pd.Period('2019')

In [2]:
y

Period('2019', 'A-DEC')

In [3]:
print('Start Time : ',y.start_time, '\n')
print('End Time : ',y.end_time, '\n')

Start Time :  2019-01-01 00:00:00

End Time :  2019-12-31 23:59:59.999999999

In [4]:
m = pd.Period('2019-1', freq ='M')
m

Period('2019-01', 'M')

In [5]:
print('Start Time : ',m.start_time, '\n')
print('End Time : ',m.end_time, '\n')

Start Time :  2019-01-01 00:00:00

End Time :  2019-01-31 23:59:59.999999999

In [6]:
m+1

Period('2019-02', 'M')

In [7]:
d = pd.Period('2019-02-28')
# d = pd.Period('2019-02-28', freq = 'D')
d

Period('2019-02-28', 'D')

In [8]:
d+1

Period('2019-03-01', 'D')

In [9]:
hr = pd.Period('2019-02-28 23:00', 'H')
hr

Period('2019-02-28 23:00', 'H')

In [10]:
print('Start Time : ',hr.start_time, '\n')
print('End Time : ',hr.end_time, '\n')

Start Time :  2019-02-28 23:00:00

End Time :  2019-02-28 23:59:59.999999999

In [11]:
hr+1

Period('2019-03-01 00:00', 'H')

In [13]:
# alternate method is pandas offsets
hr + pd.offsets.Hour(1)

Period('2019-03-01 00:00', 'H')

In [14]:
q = pd.Period('2019Q1')
q

Period('2019Q1', 'Q-DEC')

In [15]:
q+1

Period('2019Q2', 'Q-DEC')

In [16]:
print('Start Time : ',q.start_time, '\n')
print('End Time : ',q.end_time, '\n')

Start Time :  2019-01-01 00:00:00

End Time :  2019-03-31 23:59:59.999999999

In [17]:
# Fiscal Year... say it is from Feb 2019 to Jan 2020.
fy = pd.Period('2019Q1', freq = 'Q-JAN')
fy

Period('2019Q1', 'Q-JAN')

In [18]:
print('Start Time : ',fy.start_time, '\n')
print('End Time : ',fy.end_time, '\n')

Start Time :  2018-02-01 00:00:00

End Time :  2018-04-30 23:59:59.999999999

In [20]:
fy.asfreq('M', how = "start")

Period('2018-02', 'M')

In [22]:
q1 = pd.Period('2017Q1', freq = 'Q-JAN')
q2 = pd.Period('2018Q2', freq = 'Q-JAN')
print(q1, q2)

2017Q1 2018Q2

In [23]:
q2-q1

5

In [24]:
# This is for Fiscal year Feb 2011 to Jan 2017
idx = pd.period_range('2011', '2017', freq = 'Q-JAN')
# idx = pd.period_range('2011', periods = 10, freq = 'Q-JAN')
idx

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [26]:
print('Start Time for 2011 Q4 with Fiscal Year Feb to Jan : ', idx[0].start_time)
print('End Time for 2011 Q4 with Fiscal Year Feb to Jan: ', idx[0].end_time)

Start Time for 2011 Q4 with Fiscal Year Feb to Jan :  2010-11-01 00:00:00
End Time for 2011 Q4 with Fiscal Year Feb to Jan:  2011-01-31 23:59:59.999999999

In [27]:
import numpy as np
ps = pd.Series(np.random.randn(len(idx)), idx)
ps

2011Q4   -0.455404
2012Q1    1.130667
2012Q2    1.045625
2012Q3    0.242108
2012Q4   -0.561657
2013Q1    1.547291
2013Q2    0.461830
2013Q3   -0.570543
2013Q4    0.188371
2014Q1    1.295287
2014Q2    0.473443
2014Q3    1.451286
2014Q4   -1.202860
2015Q1   -0.603550
2015Q2    1.747049
2015Q3    1.323005
2015Q4   -1.372699
2016Q1   -0.825659
2016Q2   -0.505666
2016Q3    0.398026
2016Q4    0.164546
2017Q1   -0.901496
2017Q2    0.445301
2017Q3    1.378065
2017Q4    0.072046
Freq: Q-JAN, dtype: float64

In [28]:
ps.index

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [29]:
ps['2011']

2011Q4   -0.455404
2012Q1    1.130667
2012Q2    1.045625
2012Q3    0.242108
2012Q4   -0.561657
Freq: Q-JAN, dtype: float64

In [30]:
ps['2011':'2013']

2011Q4   -0.455404
2012Q1    1.130667
2012Q2    1.045625
2012Q3    0.242108
2012Q4   -0.561657
2013Q1    1.547291
2013Q2    0.461830
2013Q3   -0.570543
2013Q4    0.188371
2014Q1    1.295287
2014Q2    0.473443
2014Q3    1.451286
2014Q4   -1.202860
Freq: Q-JAN, dtype: float64

In [31]:
# Convert into DateTime Index
pst = ps.to_timestamp()
pst

2010-11-01   -0.455404
2011-02-01    1.130667
2011-05-01    1.045625
2011-08-01    0.242108
2011-11-01   -0.561657
2012-02-01    1.547291
2012-05-01    0.461830
2012-08-01   -0.570543
2012-11-01    0.188371
2013-02-01    1.295287
2013-05-01    0.473443
2013-08-01    1.451286
2013-11-01   -1.202860
2014-02-01   -0.603550
2014-05-01    1.747049
2014-08-01    1.323005
2014-11-01   -1.372699
2015-02-01   -0.825659
2015-05-01   -0.505666
2015-08-01    0.398026
2015-11-01    0.164546
2016-02-01   -0.901496
2016-05-01    0.445301
2016-08-01    1.378065
2016-11-01    0.072046
Freq: QS-NOV, dtype: float64

In [32]:
pst.index

DatetimeIndex(['2010-11-01', '2011-02-01', '2011-05-01', '2011-08-01',
               '2011-11-01', '2012-02-01', '2012-05-01', '2012-08-01',
               '2012-11-01', '2013-02-01', '2013-05-01', '2013-08-01',
               '2013-11-01', '2014-02-01', '2014-05-01', '2014-08-01',
               '2014-11-01', '2015-02-01', '2015-05-01', '2015-08-01',
               '2015-11-01', '2016-02-01', '2016-05-01', '2016-08-01',
               '2016-11-01'],
              dtype='datetime64[ns]', freq='QS-NOV')

In [33]:
pst.to_period() # convert from Datetime index to period index.

2010Q4   -0.455404
2011Q1    1.130667
2011Q2    1.045625
2011Q3    0.242108
2011Q4   -0.561657
2012Q1    1.547291
2012Q2    0.461830
2012Q3   -0.570543
2012Q4    0.188371
2013Q1    1.295287
2013Q2    0.473443
2013Q3    1.451286
2013Q4   -1.202860
2014Q1   -0.603550
2014Q2    1.747049
2014Q3    1.323005
2014Q4   -1.372699
2015Q1   -0.825659
2015Q2   -0.505666
2015Q3    0.398026
2015Q4    0.164546
2016Q1   -0.901496
2016Q2    0.445301
2016Q3    1.378065
2016Q4    0.072046
Freq: Q-DEC, dtype: float64

# Exericse
Walmart Store Historical Data.
Source : https://raw.githubusercontent.com/codebasics/py/master/pandas/18_ts_period/wmt.csv

In [36]:
import pandas as pd
walmart = pd.read_csv('wmt.csv')
walmart

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [37]:
walmart.set_index('Line Item', inplace = True)

In [38]:
walmart

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [39]:
# Transpose the data-set
walmart = walmart.T
walmart

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [40]:
walmart.index = pd.PeriodIndex(walmart.index, freq = 'Q-JAN')
walmart.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

In [42]:
walmart['start date'] = walmart.index.map(lambda x: x.start_time)
walmart

Line Item  Revenue  Expenses  Profit start date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [43]:
walmart['end date'] = walmart.index.map(lambda x: x.end_time)
walmart

Line Item  Revenue  Expenses  Profit start date   end date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30
2017Q2      120854     89485   31369 2016-05-01 2016-07-31
2017Q3      118179     87484   30695 2016-08-01 2016-10-31
2017Q4      130936     97743   33193 2016-11-01 2017-01-31
2018Q1      117542     87688   29854 2017-02-01 2017-04-30