In [9]:
import pandas as pd
df = pd.read_csv("aapl_no_dates.csv")
df.head()

     Open    High     Low   Close    Volume
0  153.17  153.33  152.22  153.18  16404088
1  153.58  155.45  152.89  155.45  27770715
2  154.34  154.45  153.46  153.93  25331662
3  153.90  155.81  153.78  154.45  26624926
4  155.02  155.98  154.48  155.37  21069647

In [2]:
pd.date_range(start = "7/1/2017", end = '7/21/2017', freq = 'B')
# Here we want the 04 July to be omitted as it was holiday in US and there will be no stock on that day.

DatetimeIndex(['2017-07-03', '2017-07-04', '2017-07-05', '2017-07-06',
               '2017-07-07', '2017-07-10', '2017-07-11', '2017-07-12',
               '2017-07-13', '2017-07-14', '2017-07-17', '2017-07-18',
               '2017-07-19', '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='B')

In [3]:
# Customizing the date range for holidays
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

usb = CustomBusinessDay(calendar = USFederalHolidayCalendar())
usb

In [4]:
pd.date_range(start = "7/1/2017", end = '7/21/2017', freq = usb)
# Here we see that the 04th July is not in the list.

DatetimeIndex(['2017-07-03', '2017-07-05', '2017-07-06', '2017-07-07',
               '2017-07-10', '2017-07-11', '2017-07-12', '2017-07-13',
               '2017-07-14', '2017-07-17', '2017-07-18', '2017-07-19',
               '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='C')

In [14]:
rng = pd.date_range(start = "7/1/2017", periods = 22, freq = usb)
rng

DatetimeIndex(['2017-07-03', '2017-07-05', '2017-07-06', '2017-07-07',
               '2017-07-10', '2017-07-11', '2017-07-12', '2017-07-13',
               '2017-07-14', '2017-07-17', '2017-07-18', '2017-07-19',
               '2017-07-20', '2017-07-21', '2017-07-24', '2017-07-25',
               '2017-07-26', '2017-07-27', '2017-07-28', '2017-07-31',
               '2017-08-01', '2017-08-02'],
              dtype='datetime64[ns]', freq='C')

In [15]:
df.set_index(rng, inplace=True)
df

              Open    High     Low   Close    Volume
2017-07-03  153.17  153.33  152.22  153.18  16404088
2017-07-05  153.58  155.45  152.89  155.45  27770715
2017-07-06  154.34  154.45  153.46  153.93  25331662
2017-07-07  153.90  155.81  153.78  154.45  26624926
2017-07-10  155.02  155.98  154.48  155.37  21069647
2017-07-11  155.25  155.54  154.40  154.99  21250798
2017-07-12  155.19  155.19  146.02  148.98  64882657
2017-07-13  145.74  146.09  142.51  145.42  72307330
2017-07-14  147.16  147.45  145.15  146.59  34165445
2017-07-17  147.50  147.50  143.84  145.16  31531232
2017-07-18  143.32  144.48  142.21  144.29  32165373
2017-07-19  143.78  144.50  142.20  142.27  50361093
2017-07-20  143.66  146.74  143.66  146.34  32541404
2017-07-21  146.87  146.87  144.94  145.01  24900073
2017-07-24  145.52  146.07  144.61  145.87  21265751
2017-07-25  145.77  146.70  145.12  145.63  19106294
2017-07-26  145.13  147.16  145.11  146.28  35439389
2017-07-27  147.17  148.28  145.38  145.82  25692361
2017-07-28  145.01  146.16  143.62  143.73  24761891
2017-07-31  144.49  146.11  143.16  145.83  22082432
2017-08-01  144.71  145.13  142.28  143.68  31499368
2017-08-02  144.45  144.96  143.78  144.02  23024107

In [17]:
# Custom our personal dates as Holiday
# observance will be used if your custome date is on Week-End and you want to have off / holiday on prior or next working day.
# Example : 04 April is on Saturday then the neareast work day will be friday, and if 04 April is Sunday then the neareast work day will be Monday.
# Other values we can use for observance are sunday_to_monday; next_monday_or_tuesday; previous_friday; next_monday. Check documentation for details.

from pandas.tseries.holiday import AbstractHolidayCalendar, nearest_workday, Holiday

class myBirthDayCalendar (AbstractHolidayCalendar) :
    rules = [
        Holiday('Mayank"s Birth-Day', month = 4, day = 12) #, observance = nearest_workday),
    ]
    
myc = CustomBusinessDay(calendar = myBirthDayCalendar())
myc

In [18]:
pd.date_range(start = "4/2/2017", end = "4/30/2017", freq = myc)

DatetimeIndex(['2017-04-03', '2017-04-04', '2017-04-05', '2017-04-06',
               '2017-04-07', '2017-04-10', '2017-04-11', '2017-04-13',
               '2017-04-14', '2017-04-17', '2017-04-18', '2017-04-19',
               '2017-04-20', '2017-04-21', '2017-04-24', '2017-04-25',
               '2017-04-26', '2017-04-27', '2017-04-28'],
              dtype='datetime64[ns]', freq='C')

In [21]:
# Custom Business Day for Egypt, as there the Sunday is normal work day and Friday is Week-end.
# Egypt Business Day (ebd)
ebd = CustomBusinessDay(weekmask = 'Sun Mon Tue Wed Thu')
pd.date_range(start = '10/15/2019', end = '10/25/2019', freq = ebd)

DatetimeIndex(['2019-10-15', '2019-10-16', '2019-10-17', '2019-10-20',
               '2019-10-21', '2019-10-22', '2019-10-23', '2019-10-24'],
              dtype='datetime64[ns]', freq='C')

In [23]:
ebd = CustomBusinessDay(weekmask = 'Sun Mon Tue Wed Thu', holidays = ['2019-10-22'])
pd.date_range(start = '10/15/2019', end = '10/25/2019', freq = ebd)

DatetimeIndex(['2019-10-15', '2019-10-16', '2019-10-17', '2019-10-20',
               '2019-10-21', '2019-10-23', '2019-10-24'],
              dtype='datetime64[ns]', freq='C')